.navlinks-resources {
  height: 40px;
  position: relative;
  width: 101px;
}

.navlinks-resources .text-wrapper-7 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  left: 3px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
}

.navlinks-resources .line-4 {
  position: absolute;
  width: 80px;
}

.navlinks-resources.property-1-5-default {
  overflow: hidden;
}

.navlinks-resources.property-1-5-default .line-4 {
  height: 1px;
  left: -4523px;
  top: -6933px;
}

.navlinks-resources.property-1-5-variant-2 .line-4 {
  height: 2px;
  left: 11px;
  top: 37px;
}
