@font-face {
  font-family: 'Airstrike';
  src: url('./assets/fonts/airstrike.ttf') format('truetype');
}

/* .hex-image {
  transition: transform 0.3s ease;
}

.hex-image:hover {
  transform: scale(1.05);
} */